<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <div class="background">
        <div class="blur">
          <h1 class="display-3">Price History</h1>
          <p class="home-description">This a landing page for for LUT fullstack course project. </p>
        </div>
      </div>
      <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
    </div>
  </div>

  <div class="container">
    <div class="homepage-row">
      <div class="col-md-4">
        <h2>Register</h2>
        <p>Click here to get to the register page</p>
        <p><a class="btn btn-outline-primary" [routerLink]="['/register']" role="button">Register &raquo;</a></p>
      </div>
      <!--<div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-outline-primary" href="#" role="button">View details &raquo;</a></p>
      </div>-->
      <div class="col-md-4">
        <h2>Login</h2>
        <p>Already a user? Click here to sign in.</p>
        <p><a class="btn btn-outline-primary" [routerLink]="['/register']" role="button">Sign in &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
