<nav class="navbar navbar-expand navbar-dark bg-black" aria-label="Second navbar example">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">Fullstack Coursework</a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarsExample02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!authService.loggedIn()">
          <a class="nav-link" aria-current="page" [routerLink]="['/dashboard']" [routerLinkActive]="['active']">Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()">
          <a class="nav-link" aria-current="page" [routerLink]="['/profile']" [routerLinkActive]="['active']">Profile</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a class="nav-link" aria-current="page" [routerLink]="['/register']"  [routerLinkActive]="['active']">Register</a>
        </li>
        <li class="nav-item" *ngIf="authService.loggedIn()">
          <a class="nav-link" aria-current="page" [routerLink]="['/login']" [routerLinkActive]="['active']">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authService.loggedIn()">
          <a class="nav-link" aria-current="page" (click)="onLogoutClick()" href="#">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
